# SPDX-FileCopyrightText: 2026 tao3k team and Contributors
#
# SPDX-License-Identifier: AGPL-3.0-only

.DS_Store
.idea
*.log
tmp/
/experiments/mrr-live/runs/


/.devenv
target/
/.ci
/.pre-commit-config.yaml
/.data
/.gerbil
manifest.ss
.venv/
__pycache__/
*.pyc
.env
.devenv.flake.nix
